*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.header{
 width: 100%;   
 height: 100vh;
 background-image: url(images/image.jpeg);
 background-position: center;
 background-size: cover;
}

nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
}

nav ul{
    background: #000;
    width: 100%;
    margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: aliceblue;
}

nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

nav.sticky ul{
    width: auto;
}

#about{
    width: 100%;
    padding: 78px 0px;
    background-color: #0c0c22;
}

#about img{
    height: auto;
    width: 420px;
}

.about_text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_text h2{
    color: aliceblue;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about_text h5{
    color: aliceblue;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
  span{
    color: #7c141a;
  }
  .about_text p{
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #7c141a;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: solid;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid  #7c141a;
    cursor: pointer;
}


.projects{
    margin-top: 0rem;
    color: aliceblue;

}
.container-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.projects{
    background: #0c0c22;
    text-align: center; 
    border: 1px solid transparent;
}

.project_info{
    padding: 2rem;
}

.project_info{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
    color: aliceblue;
}